
timm==0.9.8
torchstain==1.4.1

h5py==3.15.1
joblib==1.5.3
scikit-learn==1.6.1
pandas==2.3.3
numpy==1.26.4
scipy==1.16.3
lifelines==0.30.0

opencv-python-headless==4.11.0.86
matplotlib==3.10.0
tqdm==4.67.3
huggingface_hub==1.4.1
Pillow==11.3.0

openslide-python==1.4.3
openslide-bin==4.0.0.13
nibabel==5.3.3
einops==0.8.2
